/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-----------------General Base Styles-------------*/
html {
  font-size: 16px ;
  line-height: 1.2;
}
.content-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 0% 10%;
  background: #527158;
}

address {
  font-style: normal;
}
h1, h2, h3, h4 {
  font-weight: 500;
  margin-bottom: 0em;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 2em;
}
p {
  font-size: 0.8em;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #e2e3ed;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}
/*-----------------Base Header Styles-------------*/

header,
footer {
  display: flex;
  flex-flow: row wrap; /*flex direction + flex-wrap*/
  justify-content: center;
  align-items: center;
}

/*------Header Styles--------*/

.header {
}

.header-divider {
  flex: 100%;
  border-bottom: solid black;
}

header .content-wrapper {
  justify-content: center;
  padding: 0em;
  flex: 100%;
  background: #202322;
}

header .logo{
  display: flex;
  justify-content: center;
  flex: 60%;
}

header nav {
  flex: 100%;
  font-family: 'Open Sans', sans-serif;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0em 3em;
  list-style: none;
}
header nav a {
  text-transform: uppercase;
}

/*-----------------------------Main Styles------------------------*/

main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

main .hero-area {
  display: flex;
  width: 100%;
}
.hero-area .content-wrapper {
  background-image: url();
}

main .content-wrapper {
}

aside .form {
  width: 100%;
}

.form-description {
  display: flex;
  flex-flow: column;
}

.form {
  width: 0%; /*needed to unset defaults*/
  display: flex;
  flex-flow: column;
  flex: 100%;
}

.form input {
  /*margin: 0.5em 0em;*/
  /*line-height: 2em;*/
}
input[type=text] {
 box-sizing: border-box; /*allows correct sizing of boxes*/
 width: 100%;
 color: #2a423a;
 font-style: italic;
 padding: 1em;
}
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;

}

.features {
}

.features .content-wrapper {
}

.features-items {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.fontawesome-icon {
}

.features-item-description {
  padding: 0em 2.5em;
  text-align: center;
}

.reviews {
}

.reviews h3 {
  padding-right: 4em;
}

.reviews .content-wrapper {
  background: #2a423a;
}
/*-----------------About Styles-------------*/


.mission{
}
.contact-section .content-wrapper{
  background: #2a423a;
}

.about-contact {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

/*-----------------FAQ-----------------*/
.faq {
}
.faq .content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.faq-content {
}

/*-----------------Base footer Styles-------------*/

footer .content-wrapper{
  width: 100%;
  background: #202322;
}

.footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.contact {
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.contact p,
.contact h4 {
  text-align: center;
  padding: 0em 3em;
}

.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #202322;
}

/*--------Mobile Styles - Homepage----------*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px){
/*Tablet styles here*/

/*-----------------General Styles-------------*/
body {
  font-size: 115%;
}

.header-divider {
  display: none;
}

/*-----------------HEADER Styles-------------*/
header .content-wrapper{
  flex-flow: row;
  padding: 0% 10%;
}
header .logo {
  flex:2 400px;
  justify-content: start;
}
header nav {
  flex:1 200px;
}
header nav ul {
  padding: 0em;
}

/*-----------------Homepage Styles-------------*/

.hero-area h1 {
  padding-right: 3em;
}

aside .content-wrapper {
  flex-flow: row;
  justify-content: space-between;
}
.form-description{
  padding-right: 1em;
  flex: 50%;
}
.form {
  padding-left: 1em;
  flex: 50%;
}

.features-items article {
  flex: 40%;
}
.features-item-description {
  padding: 0em 1em;
}

.reviews h2 {
  padding-right: 3em;
}

.reviews article {
  display: flex;
  flex-flow: row;
  flex: 100%;
}
.reviews #team-photo{
  flex: 1 300px;
}
.reviews #team-review {
  flex: 2 300px;
}

/*-----------------FOOTER Styles-------------*/

.footer-content {
  flex-flow: row;
}
.contact, .social {
  flex: 50%;
}

/*-----------------FAQ Styles-------------*/

.faq .content-wrapper {
  justify-content: space-between;
}
.faq-content-l {
  flex: 45%;
  padding-right: 1em;
}
.faq-content-r {
  flex: 45%;
  padding-left: 1em;
}

/*-----------------ABOUT Styles-------------*/
.contact-section .content-wrapper {
  justify-content: flex-start;
}

.about-address-1 {
  padding-right: 2.5em;
}
.about-address-2 {
  padding-left: 2.5em;
}


}
@media only screen and (min-width: 1200px){
/*Desktop styles here*/
body {
  /*display: flex;
  flex-flow: column;
  align-items: center;*/
  font-size: 170%;
}
main {
  /*
  max-width: 1200px;
  */
}
/*-----------------Homepage Styles-------------*/
.features-items article {
  flex: 33%;
}
.reviews h2 {
  padding-right: 0em;
}
/*-----------------FAQ Styles-------------*/
.faq h1 {
  flex:100%;
}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
